root = true
[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space
indent_size = 4

# HTML, CSS y JavaScript
[*.{html,css,js}]
indent_style = space
indent_size = 4

# JSON
[*.json]
indent_style = space
indent_size = 2

# Markdown
[*.md]
trim_trailing_whitespace = false

# Archivos YAML
[*.{yml,yaml}]
indent_style = space
indent_size = 2